[submodule "node_exporter"]
	path = node_exporter
	url = https://github.com/chaolihf/node_exporter.git
[submodule "beats"]
	path = beats
	url = https://github.com/chaolihf/beats
[submodule "gopsutil"]
	path = gopsutil
	url = https://github.com/chaolihf/gopsutil.git
